# Osama's PC
/8.5.5
/current

# Ahmed's PC
/UnitTesting
/DAL/Tests
/DAL/Database/DataSeed.php


# Ignore environment files
/config/.env


BLL/Mappers/MAPPERS_DOCUMENTATION.md

MAPPER_IMPLEMENTATION_ANALYSIS.md

