# Osama's PC
/8.5.5
/current
Database.Local.php
DataSeed.Local.php

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
**/[Bb]in/
**/[Ob]ject/
**/obj/
.vs/

# Ahmed's PC
/UnitTesting
/DAL/Tests
/DAL/Database/DataSeed.php
/.VSCodeCounter

# Ignore environment files
/config/.env
/vendor

BLL/Mappers/MAPPERS_DOCUMENTATION.md

MAPPER_IMPLEMENTATION_ANALYSIS.md

/Mds
CLAUDE.md
postman/reports/test-report.md
postman/reports/API_Test_Report.md
# *.yaml
db/
README.Docker.md
DigiCertGlobalRootG2.crt.pem